body {
  font-family: Ubuntu;
}

img {
  max-width: 100%;
  height: auto;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.0;
  color: $black;
  margin: 0px 0px 30px 0px;
  a {
    color: $black;
  }
}
