.btn-primary {
  padding: 20px 50px;
  color: $white;
  border-radius: 32px;
  background-color: $primary;
  border: 0px;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in;
  &:hover {
    background-color: $black;
    color: $white;
    text-decoration: none;
  }
}
.btn-alt {
  @extend .btn-primary;
  background-color: $white;
  color: $primary;
  &:hover {
    color: $white;
    background-color: $primary;
    text-decoration: none;
  }
}

.btn-fill {
  @extend .btn-alt;
  border: 1px solid $primary;
  background-color: transparent;
  &:hover {
    border-color: $primary;
    text-decoration: none;
  }
}

.btn-simple {
  background-color: $white;
  border: solid 1px $primary;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.0;
  color: $primary;
  padding: 18px 20px;
  border-radius: 0px;
  &:hover {
    background-color: $primary;
    color: $white;
    text-decoration: none;
  }
}


.navigation {
  margin-top: 100px;
  @include media-breakpoint-down(sm) {
    margin-top: 50px;
  }
  .nav-previous, .nav-next {
    display: inline-block;
  }
  .nav-links {
    a {
      display: inline-block;
      background-color: $white;
      border: solid 1px $primary;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.0;
      color: $primary;
      padding: 11px 16px;
      border-radius: 20px;
      margin-right: 20px;
      &:hover {
        background-color: $primary;
        color: $white;
        text-decoration: none;
      }
    }
  }
}

.wp-block-button__link:not(.has-background),
.wp-block-button__link:not(.has-text-color) {
  @extend .btn;
  @extend .btn-simple;

  .is-style-outline & {
    border: 1px solid $primary;
    color: $primary;

    &:hover {
      border-color: $primary;
      text-decoration: none;
      color: $white;
    }
  }

  .is-style-fill & {
    border: 1px solid $primary;
    background-color: $primary;
    color: $white;

    &:hover {
      border-color: $primary;
      text-decoration: none;
      background-color: $white;
      color: $primary;
    }
  }
}
