.cta {
  padding: 60px 0px;
  margin-bottom: 80px;
  width: 100%;
  background: linear-gradient(-45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), $primary;
  background-size: 30px 30px;
  color: $white;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrap {
    padding-right: 100px;
  }
  &__title {
    font-size: 48px;
    font-weight: 500;
  }
  &__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
  }
  .btn-alt {
    float: right;
  }
}
