.cta {
  padding: 60px 0px;
  margin-bottom: 80px;
  width: 100%;
  background: linear-gradient(-45deg,
     rgba(255,255,255,0.1) 25%,
     rgba(0,0,0,0) 25%,
     rgba(0,0,0,0) 50%, 
     rgba(255,255,255,0.1) 50%, 
     rgba(255,255,255,0.1) 75%, 
     rgba(0,0,0,0) 75%, 
     rgba(0,0,0,0) 0), $primary;
  background-size: 30px 30px;
  color: $white;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(md) {
      flex-flow: column;
    }
  }
  &__wrap {
    padding-right: 100px;
    @include media-breakpoint-down(md) {
      padding: 0px;
      margin-bottom: 30px;
    }
  }
  &__title {
    font-size: 48px;
    font-weight: 500;
    @include media-breakpoint-down(md) {
      font-size: 30px;
    }
  }
  &__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
  }
  .btn-alt {
    float: right;
  }
}
