.header {
  margin: 36px 0px;
  padding: 10px 0px;
  background-color: $white;
  @include media-breakpoint-down(md) {
    margin: 0px;
  }
  .custom-logo-link {
    img {
      max-width: 237px;
      height: auto;
      @include media-breakpoint-down(xs) {
        max-width: 170px;
      }
    }
  }
  .navbar {
    padding: 0px;
    .navbar-toggler-icon {
      width: auto;
      height: auto;
      font-size: 45px;
    }
    .menu-item {
      margin-left: 40px;
      @include media-breakpoint-down(md) {
        margin-left: 0px;
      }
      a {
        display: block;
        line-height: 64px;
        font-size: 18px;
        font-weight: 500;
        color: $black;
        transition: color 0.3s ease-in;
        border-bottom: 1px solid transparent;
        &:hover {
          color: $primary;
          text-decoration: none;
          border-bottom: 1px solid $primary;
        }
      }
      &.lang-item {
        a {
          font-size: 14px;
          font-weight: 300;
          position: relative;
          &:after {
              content: '';
              position: absolute;
              height: 16px;
              right: -5px;
              top: 50%;
              margin-top: -8px;
              border-right: 1px solid $primary;
          }
          &:before {
              content: '';
              position: absolute;
              height: 16px;
              left: -5px;
              top: 50%;
              margin-top: -8px;
              border-left: 1px solid $primary;
          }
        }
      }
      &.current-menu-item {
        a {
          color: $primary;
          text-decoration: none;
          border-bottom: 1px solid $primary;
        }
      }
      &.button {
        @include media-breakpoint-down(md) {
          margin-top: 15px;
        }
        a {
          padding: 0px 50px;
          color: $white;
          border-radius: 32px;
          background-color: $primary;
          transition: background-color 0.3s ease-in;
          &:hover {
            color: $white;
            background-color: $black;
            text-decoration: none;
          }
        }
      }
    }
  }
}
