.page-wrapper {
  .page {
    &__header {
      width: 100%;
      height: auto;
      max-height: 300px;
      object-fit: cover;
      margin-bottom: 80px;
    }
    &__menu {
      display: inline-flex;
      border: 1px solid $gray;
      left: 50%;
      transform: translateX(-50%) translateY(-100px);
      position: fixed;
      position: sticky;
      margin-bottom: -100px;
      top: 186px;
      z-index: 999;
      background-color: $white;
      @include media-breakpoint-down(sm) {
        transform: none;
        display: flex;
        flex-flow: column;
        margin-top: -80px;
        position: relative;
        left: 0px;
        top: 0px;
        margin-bottom: 30px;
      }
      &__item {
        background-color: $white;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.12;
        text-align: center;
        color: $black;
        text-transform: uppercase;
        padding: 20px;
        border-right: 1px solid $gray;
        @include media-breakpoint-down(sm) {
          padding: 10px;
        }
        &:last-of-type {
          border-right: 0px;
        }
        &:hover {
          background-color: $primary;
          color: $white;
          text-decoration: none;
        }
      }
    }
    &__content {
      margin: 0px auto;
      max-width: 850px;
      &__header {
        position: relative;
        margin-bottom: 50px;
        img {
          margin: 0px -30%;
          width: 160%;
          max-width: 160%;
          height: auto;
          max-height: 400px;
          min-height: 200px;
          object-fit: cover;
          @include media-breakpoint-down(sm) {
            margin: 0px;
            width: 100%;
            max-width: 100%;
          }
        }
        &__title {
          background-color: $white;
          font-size: 40px;
          font-weight: 500;
          line-height: 1.0;
          display: inline-block;
          @include media-breakpoint-down(sm) {
            font-size: 30px;
          }
        }
        img + .page__content__header__title {
          position: absolute;
          padding: 30px 40px;
          bottom: -30px;
          left: 0px;
          @include media-breakpoint-down(sm) {
            bottom: 15px;
            padding: 15px;
          }
        }
      }
      &__block {
        margin-bottom: 50px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        h2 {
          font-size: 24px;
          font-weight: 500;
          line-height: 1.0;
        }
        blockquote {
          font-size: 24px;
          font-weight: 500;
          font-style: italic;
          line-height: 1.0;
          color: $primary;
          padding: 37px 0px 20px 0px;
          border-top: 1px solid $primary;
          border-bottom: 1px solid $primary;
          position: relative;
          &:before, &:after {
            content: "";
            width: 30px;
            height: 18px;
            position: absolute;
            top: -2px;
            left: 0px;
            background: $white url('../images/quote.svg') no-repeat;
          }
          &:after {
            top: auto;
            left: auto;
            bottom: -2px;
            right: 0px;
            transform: rotate(180deg);
          }
        }
      }
      &__buttons {
        margin-bottom: 50px;
        a {
          margin-bottom: 5px;
        }
        &--image {
          display: flex;
          margin: 0px -15px 50px -15px;
          flex-wrap: wrap;
          justify-content: space-between;
          .btn-image {
            position: relative;
            padding: 0px;
            border: 0px;
            display: block;
            white-space: unset;
            flex: 0 0 49%;
            margin-bottom: 15px;
            img {
              width: 100%;
              height: auto;
              min-height: 290px;
              object-fit: cover;
            }
            &-text {
              display: block;
              position: absolute;
              padding: 20px;
              background: rgba($black, 0.8);
              left: 0px;
              bottom: 0px;
              color: $white;
              width: 100%;
            }
            &:hover {
              color: $white;
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
  // &--simple {
  //   .section-title {
  //     font-size: 40px;
  //     @include media-breakpoint-down(md) {
  //       margin-top: 30px;
  //     }
  //   }
  //   .page__header {
  //     margin-bottom: 40px;
  //     margin-top:100px;
  //   }
  //   .page__content {
  //     max-width: 100%;
  //     &__block {
  //       margin-bottom: 0px;
  //     }
  //   }
  // }

  .full-width {
    width: calc(100vw - 15px);
    margin-left: calc(((100vw - 835px) / 2)  * -1);

    @include media-breakpoint-down(md) {
      width: 100vw;
      margin-left: -15px;
    }

    .wp-block-embed__wrapper {
      margin-left: 0;
      margin-right: 0;
    }

    img,
    .aligncenter {
      width: 100%;
    }
  }
}
