.page-wrapper {
  .page {
    &__header {
      width: 100%;
      height: auto;
      max-height: 300px;
      object-fit: cover;
      margin-bottom: 80px;
    }
    &__menu {
      display: inline-flex;
      border: 1px solid $gray;
      left: 50%;
      transform: translateX(-50%) translateY(-100px);
      position: sticky;
      margin-bottom: -100px;
      top: 186px;
      z-index: 999;
      background-color: $white;
      @include media-breakpoint-down(sm) {
        transform: none;
        display: flex;
        flex-flow: column;
        margin-top: -80px;
        position: relative;
        left: 0px;
        top: 0px;
        margin-bottom: 30px;
      }
      &__item {
        background-color: $white;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.12;
        text-align: center;
        color: $black;
        text-transform: uppercase;
        padding: 20px;
        border-right: 1px solid $gray;
        @include media-breakpoint-down(sm) {
          padding: 10px;
        }
        &:last-of-type {
          border-right: 0px;
        }
        &:hover {
          background-color: $primary;
          color: $white;
          text-decoration: none;
        }
      }
    }
    &__content {
      margin: 0px auto;
      max-width: 750px;
      &__header {
        position: relative;
        margin-bottom: 50px;
        img {
          margin: 0px -30%;
          width: 160%;
          max-width: 160%;
          height: auto;
          max-height: 400px;
          min-height: 200px;
          object-fit: cover;
          @include media-breakpoint-down(sm) {
            margin: 0px;
            width: 100%;
            max-width: 100%;
          }
        }
        &__title {
          background-color: $white;
          font-size: 40px;
          font-weight: 500;
          line-height: 1.0;
          display: inline-block;
          @include media-breakpoint-down(sm) {
            font-size: 30px;
          }
        }
        img + .page__content__header__title {
          position: absolute;
          padding: 30px 40px;
          bottom: -30px;
          @include media-breakpoint-down(sm) {
            bottom: 15px;
            padding: 15px;
          }
        }
      }
      &__block {
        margin-bottom: 50px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        h2 {
          font-size: 24px;
          font-weight: 500;
          line-height: 1.0;
        }
        blockquote {
          font-size: 24px;
          font-weight: 500;
          font-style: italic;
          line-height: 1.0;
          color: $primary;
          padding: 37px 0px 20px 0px;
          border-top: 2px solid $primary;
          border-bottom: 2px solid $primary;
          position: relative;
          &:before, &:after {
            content: "";
            width: 30px;
            height: 18px;
            position: absolute;
            top: -2px;
            left: 0px;
            background: $white url('../images/quote.svg') no-repeat;
          }
          &:after {
            top: auto;
            left: auto;
            bottom: -2px;
            right: 0px;
            transform: rotate(180deg);
          }
        }
      }
      &__buttons {
        margin-bottom: 50px;
      }
    }
  }
}
