.blog-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  @include media-breakpoint-down(md) {
    flex-flow: column;
    align-items: center;
  }
  .blog-list {
    @extend .col-lg-8;
    padding: 0px;
  }
  .sidebar {
    @extend .col-lg-3;
    padding: 0px;
    @include media-breakpoint-down(md) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-top: 50px;
    }
    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .single-post & .post {
    @extend .col-lg-8;
    padding: 0px;
  }
}

.blog-list {
  &__sticky {
    position: relative;
    margin-bottom: 40px;
    &__categories {
      position: absolute;
      top: 0px;
      left: 0px;
      a {
        display: inline-block;
        font-size: 16px;
        line-height: 1.0;
        font-weight: 300;
        color: $white;
        padding: 12px 18px;
        background-color: rgba($primary, 0.9);
      }
    }
    &__thumb {
      width: 100%;
      height: auto;
      display: block;
    }
    &__title {
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color: rgba($black, 0.7);
      padding: 40px;
      font-size: 32px;
      font-weight: 500;
      line-height: 1.0;
      margin: 0px;
      @include media-breakpoint-down(sm) {
        font-size: 24px;
        padding: 20px;
      }
      a {
        color: $white
      }
    }
  }
  &__post {
    display: flex;
    margin-bottom: 40px;
    @include media-breakpoint-down(sm) {
      flex-flow: column;
    }
    &__wrap {
      flex: 1 1 auto;
    }
    &__title {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.0;
      margin: 0px 0px 20px 0px;
      a {
        color: $black;
      }
    }
    &__categories {
      margin-bottom: 20px;
      a {
        @extend .btn-simple;
        padding: 12px 20px;
        display: inline-block;
        font-weight: 300;
        margin-bottom: 3px;
      }
    }
    &__excerpt {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
    &__thumb {
      display: block;
      width: 260px;
      max-height: 260px;
      height: auto;
      flex: 0 0 260px;
      margin-left: 60px;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}
.single-post {
  .post {
    &__meta {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      align-items: center;
      @include media-breakpoint-down(sm) {
        flex-flow: column;
      }
      &__categories {
        @include media-breakpoint-down(sm) {
          margin-bottom: 15px;
        }
        a {
          @extend .btn-simple;
          padding: 12px 20px;
          display: inline-block;
          font-weight: 300;
          @include media-breakpoint-down(sm) {
            padding: 10px;
          }
        }
      }
      &__share {
        margin-right: -10px;
        a {
          padding: 5px 10px;
        }
      }
      &__by {
        margin: 0px;
        background: url('../images/icon-user.svg') left center no-repeat;
        padding-left: 30px;
        a {
          font-weight: 500;
          line-height: 1.33;
          color: $black;
        }
      }
      &__date {
        line-height: 1.5;
        text-align: right;
      }
      &--author {
        margin-bottom: 40px;
      }
      &--footer {
        padding-bottom: 24px;
        border-bottom: 1px solid $primary;
        margin-top: 100px;
        @include media-breakpoint-down(sm) {
          margin-top: 40px;
        }
        .post__meta {
          &__tags {
            @include media-breakpoint-down(sm) {
              text-align: center;
              margin-bottom: 15px;
            }
            a {
              display: inline-block;
              background-color: $white;
              border: solid 1px $primary;
              font-size: 16px;
              font-weight: 300;
              line-height: 1.0;
              color: $primary;
              padding: 11px 16px;
              border-radius: 20px;
              margin-right: 10px;
              @include media-breakpoint-down(sm) {
                padding: 8px;
                margin-bottom: 3px;
                margin-right: 0px;
              }
              &:hover {
                background-color: $primary;
                color: $white;
              }
            }
          }
        }
      }
    }
    &__thumb {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 40px;
    }
    &__title {
      font-size: 48px;
      font-weight: 500;
      line-height: 1.0;
      margin: 0px 0px 40px 0px;
      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
    }
    &__content {
      @extend .post-elements;
    }
  }
}

