.pubs {
  display: flex;
  margin: 0px -15px 200px -15px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  &__filter {
    ul {
      display: flex;
      justify-content: flex-start;
      margin: 0px 0px 60px 0px;
      padding: 0px;
      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
        margin-bottom: 30px;
      }
      li {
        list-style: none;
        margin-right: 10px;
        margin-bottom: 10px;
        a {
          @extend .btn-simple;
          padding: 10px 15px;
          line-height: 1;
          display: block;
        }
        &.current-cat {
          a {
            background-color: $primary;
            color: $white;
          }
        }
      }
    }
  }
  &__pub {
    flex: 0 0 25%;
    padding: 15px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
    }
    &__wrapper {
      position: relative;
      margin-bottom: 20px;
      &:hover {
        .pubs__pub__wrap {
          opacity: 1;
        }
      }
    }
    &__thumb {
      max-width: 100%;
      height: auto;
    }
    &__wrap {
      transition: opacity 0.3s ease-in;
      opacity: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: $primary;
      color: $white;
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding: 30px;
      align-items: flex-start;
    }
    &__date {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.0;
      margin-bottom: 10px;
    }
    &__title {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.33;
      margin-bottom: 10px;
    }
    &__view {
      line-height: 1;
      border-color: $white;
      color: $white;
      text-transform: lowercase;
      padding: 10px 20px;
      border-radius: 20px;
      &:hover {
        background-color: $white;
        color: $primary;
      }
    }
    &__download {
      line-height: 1;
      text-transform: lowercase;
      padding: 10px 20px;
      border-radius: 20px;
      margin-bottom: 20px;
    }
    &__share {
      text-align: center;
      border-top: 2px solid $primary;
      padding-top: 10px;
      a {
        margin: 0px 3px;
      }
    }
  }
  .posts-navigation {
    flex: 0 0 100%;
    margin-top: 30px;
  }
}


.pub {
  max-width: 750px;
  margin: 150px auto 200px auto;
  display: flex;
  @include media-breakpoint-down(sm) {
    margin-top: 50px;
    flex-wrap: wrap;
  }
  &__back {
    text-align: center;
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
    a {
      line-height: 1;
      padding: 10px 40px;
      color: $primary;
      text-transform: lowercase;
      svg {
        margin-left: 10px;
      }
      &:hover {
        svg path {
          fill: $white;
        }
      }
    }
  }
  &__meta {
    flex: 0 0 40%;
    margin-right: 60px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      margin-right: 0px;
      margin-bottom: 30px;
    }
  }
  &__data {
    flex: 0 0 60%;
    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
    }
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__thumb {
    margin-bottom: 20px;
  }
  &__download {
    line-height: 1;
    text-transform: lowercase;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  &__share {
    text-align: center;
    border-top: 2px solid $primary;
    padding-top: 10px;
    a {
      margin: 0px 3px;
    }
  }
  &__cats {
    margin-bottom: 20px;
    a {
      @extend .btn-simple;
      padding: 10px 15px;
      line-height: 1;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
    margin-bottom: 20px;
  }
  &__date, &__author {
    font-weight: 500;
    line-height: 1.0;
    margin-bottom: 10px;
  }
}
