.slides {
  width: 100%;
  max-width: 1350px;
  margin: 0px auto 80px auto;
  border-bottom: solid 1px $gray;
  padding-bottom: 40px;
  &__slide {
    position: relative;
    color: $white;
    .attachment-slide {
      width: 100%;
      height: auto;
    }
    &__wrap {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 0px 6%;
      position: fixed;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 460px;
      max-width: 70%;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    &__title {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.0;
      margin: 0px 0px 20px 0px;
    }
    &__text {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.33;
      margin-bottom: 20px;
    }
    &__link {

    }
  }
  .owl-dots {
    .owl-dot {
      display: inline-block;
      zoom: 1;
      *display: inline;
      span {
        width: 50px;
        height: 5px;
        margin-right: 10px;
        background: $light;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 200ms ease;
        border-radius: 2.5px;
      }
      &.active,
      &:hover {
        span {
          background: $primary;
        }
      }
    }
  }
}
