@import "../../bower_components/bootstrap/scss/_functions.scss";
@import "../../bower_components/bootstrap/scss/_variables.scss";
@import "../../bower_components/bootstrap/scss/_mixins.scss";
@import "../../bower_components/bootstrap/scss/_buttons.scss";

@import "common/variables";
@import "components/buttons";
@import "components/featured";
@import "components/cta";
@import "components/counters";
@import "layouts/header";
@import "layouts/cta";
@import "layouts/pages";

.post-elements {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;

  p {
    margin-bottom: 30px;
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.0;
    margin: 0px 0px 20px 0px;
  }

  blockquote {
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.0;
    color: $primary;
    padding: 37px 0px 20px 0px;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    position: relative;

    &:before,
    &:after {
      content: "";
      width: 30px;
      height: 18px;
      position: absolute;
      top: -2px;
      left: 0px;
      background: $white url('../images/quote.svg') no-repeat;
    }

    &:after {
      top: auto;
      left: auto;
      bottom: -2px;
      right: 0px;
      transform: rotate(180deg);
    }
  }

  ul {
    margin-top: 0px;
    list-style: square;
  }

  a {
    &:hover {
      color: $black;
    }
  }
}

.wp-block {
  font-family: Ubuntu;
  max-width: 850px;


  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.btn-primary {
      color: $white;
    }
  }
}

